<!DOCTYPE html>
<html>
<head>
	<title>Place</title>
</head>
<body background="http://www.scannellconstruction.com/wp-content/uploads/2013/01/abackground2.jpg">
<h1 align="center">An Exciting Location has been added </h1>
<table border="0" align="center">
	<tr>
		<td>Name :</td>
		<td><%=@places.name%></td>
	</tr>
	<tr>
		<td>Location:</td>
		<td><%=@places.location%></td>
	</tr>
	<tr>
		<td>Type:</td>
		<td><%=@places.type%></td>
	</tr>
	<tr>
		<td>Distance:</td>
		<td><%=@places.distance%></td>
	</tr>
</table>
</body>
</html>
