<!DOCTYPE html>
<html>
<head>
	<title>Place</title>
</head>
<body background="http://www.scannellconstruction.com/wp-content/uploads/2013/01/abackground2.jpg">
<h1 align="center">Your Comment Added Sucessfully</h1>
<table border="0" align="center">
	<tr>
		<td>Name :</td>
		<td><%=@review.fname%></td>
	</tr>
	<tr>
		<td>Comment:</td>
		<td><%=@review.comment%></td>
	</tr>
</table>
</body>
</html>