<!DOCTYPE html>
<html>
<head>
	<title>Guide</title>
</head>
<body background="http://www.scannellconstruction.com/wp-content/uploads/2013/01/abackground2.jpg">
<h1 align="center">Hello !! Your New Guide</h1>
<table border="0" align="center">
	<tr>
		<td>First Name :</td>
		<td><%=@guides.fname%></td>
	</tr>
	<tr>
		<td>Last Name :</td>
		<td><%=@guides.lname%></td>
	</tr>
	<tr>
		<td>Mobile No :</td>
		<td><%=@guides.contact_no%></td>
	</tr>
	<tr>
		<td>Address :</td>
		<td><%=@guides.address%></td>
	</tr>
</table>
</body>
</html>

