GuidesController index Action

<h3>Distance From Pune</h3>
<% for places in @places %>
Name     :<%= places.name %></br>
location :<%= places.location %></br>
type     :<%= places.type %></br>
Distance :<%= places.distance%></br>
<p>xxxxxxxxxxxxxxxxxxxxxxx</p></br>
<% end %>


