GuidesController show_guides Action

<h3>Distance From Pune</h3>
<% for gude in @guide %>
Name     :<%= gude.fname %></br>
location :<%= gude.lname %></br>
type     :<%= gude.contact_no %></br>
Distance :<%= gude.address%></br>
<p>xxxxxxxxxxxxxxxxxxxxxxx</p></br>
<% end %>